[Unit]
Description=Transcribe input speech using Deepgram and print to thermal printer
After=vlcmic.service

[Service]
#Environment=PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
ExecStart=python3 /home/pi/kateprint/transcribe_and_print.py
ExecStartPre=/bin/sleep 10
User=pi
Restart=always

[Install]
Requires=vlcmic.service
WantedBy=vlcmic.service
